In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [90]:
titanic_data = pd.read_csv("titanic.csv")
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

- Question 1. How many passengers are in our passenger list? From here forward, we'll assume our dataset represents the full passenger list for the Titanic.

In [28]:
number_of_passengers = titanic_data['PassengerId'].count()
print number_of_passengers

891

- Question 2. What is the overall survival rate?

In [74]:
survival_rate = titanic_data['Survived'].mean()
print "Survival Rate: {}".format(survival_rate)

Survival Rate: 0.383838383838

- Question 3. How many male passengers were onboard?
- Question 4. How many female passengers were onboard?

In [57]:
#select male passengers
male_passengers = titanic_data[titanic_data['Sex'] == 'male']
male_passengers_count = male_passengers['PassengerId'].count()
#select female passengers
female_passengers = titanic_data[titanic_data['Sex'] == 'female']
female_passengers_count = female_passengers['PassengerId'].count()
print "Male Passengers: {}".format(male_passengers_count)
print "Female Passengers: {}".format(female_passengers_count)

Male Passengers: 577
Female Passengers: 314

- Question 5. What is the overall survival rate of male passengers?
- Question 6. What is the overall survival rate of female passengers?

In [73]:
male_survival_rate = male_passengers.Survived.mean()
print "Male Survival Rate: {}".format(male_survival_rate)
female_survival_rate = female_passengers.Survived.mean()
print "Female Survival Rate: {}".format(female_survival_rate)

Male Survival Rate: 0.188908145581
Female Survival Rate: 0.742038216561

- Question 7. What is the average age of all passengers onboard?
 a) How did you calculate this average age?
 b) Note that some of the passengers do not have an age value. How did you deal with this? What are some other ways of dealing with this?

In [93]:
#the following returns a series of boolean values called nan_ages
#(false for rows where there are ages and true for rows with no age)
nan_ages = np.isnan(titanic_data.Age)
#the following selects only rows in the Ages column which have age values 
#(i.e. it selects only those rows that are true in the nan_ages series)
#and computes the mean of those values
mean_age = titanic_data['Age'][~nan_ages].mean()
print "Average age of all passengers onboard: {}".format(mean_age)
#an alternate way to deal with no age values might be to select all rows
#with age values greater than or equal to 0

Average age of all passengers onboard: 29.6991176471

- Question 8. What is the average age of passengers who survived?
- Question 9. What is the average age of passengers who did not survive?

In [104]:
titanic_data_with_ages = titanic_data[~nan_ages]
titanic_data_ages_survived = titanic_data_with_ages[titanic_data_with_ages['Survived'] == 1]
average_age_survived = titanic_data_ages_survived['Age'].mean()
print "Average age of passengers who survived: {}".format(average_age_survived)
titanic_data_ages_died = titanic_data_with_ages[titanic_data_with_ages['Survived'] == 0]
average_age_died = titanic_data_ages_died['Age'].mean()
print "Average age of passengers who died: {}".format(average_age_died)

Average age of passengers who survived: 28.3436896552
Average age of passengers who died: 30.6261792453

- Question 10. At this (early) point in our analysis, what might you infer about any patterns you are seeing?

At this point, it seems like survivors were much more likely to be women even though there were substantially fewer women onboard. The data also seems to suggest that younger passengers were somewhat more likely to survive than older passengers