In [1]:
%matplotlib inline
from __future__ import division
import pandas as pd
import numpy as np

#import matplotlib.pyplot as plt
#from matplotlib.colors import ListedColormap

from sklearn.cross_validation import train_test_split, cross_val_score

<p><b>Question 1.</b> Use the file bank.csv to explore the dataset. Observe the features: Are they numbers? Are they strings? Are they binary? Are they continuous?</p>

In [137]:
bank_data = pd.read_csv('bank.csv', sep=';')
bank_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [138]:
#bank_data.info()

<p>
Continuous features: 'age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous'<br />
Binary features (in string form): 'default', 'housing', 'loan', 'y'<br />
Categorical features (in string form): 'job', 'marital', 'education', 'contact', 'month', 'poutcome'<br />
</p>
<br />

<p><b>Question 2.</b> Learn about label encoders at the following link and use what you learn to transform the features to numerical features.<br />
http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html</p>

In [139]:
continuous_features = ['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']
binary_features = ['default', 'housing', 'loan', 'y']
categorical_features = ['job', 'marital', 'education', 'contact', 'month', 'poutcome']
string_features = binary_features + categorical_features

In [140]:
from sklearn import preprocessing
#from sklearn.feature_extraction import DictVectorizer

In [141]:
bank_data_2 = bank_data.copy()
feature_dict = {}

feature_names = bank_data_2.columns
bank_data_values = bank_data_2.values

for each_feature in string_features:
    le = preprocessing.LabelEncoder()
    le.fit(bank_data_2[each_feature])
    feature_dict[each_feature] = le
    bank_data_2[each_feature] = le.transform(bank_data_2[each_feature])

In [142]:
bank_data_2.head()
#feature_dict
#feautre_dict[marital].classes_

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,10,1,0,0,1787,0,0,0,19,10,79,1,-1,0,3,0
1,33,7,1,1,0,4789,1,1,0,11,8,220,1,339,4,0,0
2,35,4,2,2,0,1350,1,0,0,16,0,185,1,330,1,0,0
3,30,4,1,2,0,1476,1,1,2,3,6,199,4,-1,0,3,0
4,59,1,1,1,0,0,1,0,2,5,8,226,1,-1,0,3,0

<p><b>Question 3.</b> Build a decision tree model to predict whether a prospect will buy the product.</p>

In [143]:
from sklearn import metrics
from sklearn.cross_validation import train_test_split

from sklearn.tree import export_graphviz
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier

In [144]:
#check for missing data
bank_data_2.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [145]:
print bank_data_2.columns
print len(bank_data_2.columns)

Index([u'age', u'job', u'marital', u'education', u'default', u'balance', u'housing', u'loan', u'contact', u'day', u'month', u'duration', u'campaign', u'pdays', u'previous', u'poutcome', u'y'], dtype='object')
17

In [146]:
input_feature_columns = bank_data_2.columns[0:16]
target_column_name = bank_data_2.columns[16]
print input_feature_columns
print target_column_name

Index([u'age', u'job', u'marital', u'education', u'default', u'balance', u'housing', u'loan', u'contact', u'day', u'month', u'duration', u'campaign', u'pdays', u'previous', u'poutcome'], dtype='object')
y

In [147]:
X = bank_data_2[input_feature_columns].values
y = bank_data_2[target_column_name].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.1, random_state=1)

In [148]:
treeclf = DecisionTreeClassifier(random_state=1)
treeclf.fit(X_train, y_train)

DecisionTreeClassifier(compute_importances=None, criterion='gini',
            max_depth=None, max_features=None, max_leaf_nodes=None,
            min_density=None, min_samples_leaf=1, min_samples_split=2,
            random_state=1, splitter='best')

In [149]:
feature_cols = bank_data_2.columns
with open("bank_data_2.dot", 'wb') as f:
    f = export_graphviz(treeclf, out_file=f, feature_names=feature_cols)

<p><b>Question 4:</b> Evaluate the accuracy of your decision tree model using cross validation.</p>

In [269]:
scores = cross_val_score(treeclf, X, y, cv=KFold(len(X), n_folds=5, shuffle=True, random_state=0), scoring='accuracy')

In [270]:
np.mean(scores)

0.87016256783845891

<p><b>Question 5.</b> Repeat the analysis and cross validation with the file bank-additional-full.csv. How does the performance of the model change (with the additional training examples and additional features)?</p>

In [233]:
bank_data_all = pd.read_csv('bank-additional-full.csv', sep=';')

In [234]:
bank_data_all.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no

In [235]:
#bank_data_all.isnull().sum()
#bank_data_all.describe()
bank_data_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41188 entries, 0 to 41187
Data columns (total 21 columns):
age               41188 non-null int64
job               41188 non-null object
marital           41188 non-null object
education         41188 non-null object
default           41188 non-null object
housing           41188 non-null object
loan              41188 non-null object
contact           41188 non-null object
month             41188 non-null object
day_of_week       41188 non-null object
duration          41188 non-null int64
campaign          41188 non-null int64
pdays             41188 non-null int64
previous          41188 non-null int64
poutcome          41188 non-null object
emp.var.rate      41188 non-null float64
cons.price.idx    41188 non-null float64
cons.conf.idx     41188 non-null float64
euribor3m         41188 non-null float64
nr.employed       41188 non-null float64
y                 41188 non-null object
dtypes: float64(5), int64(5), object(11)

In [236]:
string_features_ds2 = ['job', 'marital', 'education', 'default', 'housing',\
                       'loan', 'contact', 'month', 'day_of_week', 'poutcome','y']

In [237]:
bank_data_ds2 = bank_data_all.copy()
feature_dict_ds2 = {}

for each_feature in string_features_ds2:
    le_ds2 = preprocessing.LabelEncoder()
    le_ds2.fit(bank_data_all[each_feature])
    feature_dict_ds2[each_feature] = le_ds2
    bank_data_ds2[each_feature] = le_ds2.transform(bank_data_all[each_feature])

In [238]:
#print len(bank_data_all_2.columns)
bank_data_ds2.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,3,1,0,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191,0
1,57,7,1,3,1,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191,0
2,37,7,1,3,0,2,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191,0
3,40,0,1,1,0,0,0,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191,0
4,56,7,1,3,0,0,2,1,6,1,...,1,999,0,1,1.1,93.994,-36.4,4.857,5191,0

In [239]:
input_feature_columns_ds2 = bank_data_ds2.columns[0:(len(bank_data_ds2.columns)-1)]
target_column_name_ds2 = bank_data_ds2.columns[len(bank_data_ds2.columns)-1]
print input_feature_columns_ds2
print
print target_column_name_ds2

Index([u'age', u'job', u'marital', u'education', u'default', u'housing', u'loan', u'contact', u'month', u'day_of_week', u'duration', u'campaign', u'pdays', u'previous', u'poutcome', u'emp.var.rate', u'cons.price.idx', u'cons.conf.idx', u'euribor3m', u'nr.employed'], dtype='object')

y

In [240]:
X_ds2 = bank_data_ds2[input_feature_columns_ds2].values
y_ds2 = bank_data_ds2[target_column_name_ds2].values
#X_train_ds2, X_test_ds2, y_train_ds2, y_test_ds2 = train_test_split(X_ds2, y_ds2, random_state=1)

In [241]:
treeclf_ds2 = DecisionTreeClassifier()
#treeclf_ds2.fit(X_train_ds2, y_train_ds2) #####don't fit before crossval!!!!

In [242]:
#feature_cols_ds2 = bank_data_ds2.columns
#with open("bank_data_ds2.dot", 'wb') as f:
#    f = export_graphviz(treeclf_ds2, out_file=f, feature_names=feature_cols_ds2)

In [243]:
#check accuracy of new model

In [279]:
from sklearn.cross_validation import KFold

scores_ds2 = cross_val_score(treeclf_ds2, X_ds2, y_ds2, cv=KFold(len(X_ds2), n_folds=5, shuffle=True, random_state=1), scoring='accuracy')
scores_ds2

array([ 0.88710852,  0.89293518,  0.88322408,  0.89207236,  0.88964429])

In [280]:
np.mean(scores_ds2)

0.88899688557039114