# Final Project: Phase 3: Manipulating Maps Data with Pandas

In [13]:
import numpy as np
import pandas as pd
import MySQLdb as mdb
import MySQL_data_file as MySQL_data

In [14]:
con = mdb.connect(MySQL_data.my_sql_host, MySQL_data.my_sql_user,\
                    MySQL_data.my_sql_passwd,\
                    MySQL_data.my_sql_database)
#con.close

In [15]:
def run_sql(query):
    cur = con.cursor()
    cur.execute(query)
    con.commit()
    #con.close()
    return cur.fetchall()

In [16]:
gmaps_df = pd.read_sql("""SELECT entry_id,timestamp,datetime,origins,destinations,travel_mode,duration,distance,fare
                        FROM gmaps_data""",con)
gmaps_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29628 entries, 0 to 29627
Data columns (total 9 columns):
entry_id        29628 non-null int64
timestamp       29628 non-null datetime64[ns]
datetime        29628 non-null datetime64[ns]
origins         29628 non-null object
destinations    29628 non-null object
travel_mode     29628 non-null object
duration        29454 non-null float64
distance        29454 non-null float64
fare            17128 non-null float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(3)
memory usage: 2.3+ MB

In [17]:
bing_df = pd.read_sql("""SELECT entry_id,timestamp,datetime,origins,destinations,travel_mode,duration_traffic,distance,congestion
                        FROM mmaps_data""",con)
bing_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19080 entries, 0 to 19079
Data columns (total 9 columns):
entry_id            19080 non-null int64
timestamp           19080 non-null datetime64[ns]
datetime            19080 non-null datetime64[ns]
origins             19080 non-null object
destinations        19080 non-null object
travel_mode         19080 non-null object
duration_traffic    19080 non-null int64
distance            19080 non-null int64
congestion          19080 non-null object
dtypes: datetime64[ns](2), int64(3), object(4)
memory usage: 1.5+ MB

In [18]:
#changing the bing maps "duration_traffic" column to "duration" in order to match up the column with the gmaps_df
bing_df.columns = [u'entry_id', u'timestamp', u'datetime', u'origins', u'destinations', u'travel_mode', u'duration', u'distance', u'congestion']

In [19]:
combined_df = gmaps_df.merge(bing_df, how='outer')

In [20]:
combined_df = combined_df.copy()

In [21]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48708 entries, 0 to 48707
Data columns (total 10 columns):
entry_id        48708 non-null float64
timestamp       48708 non-null datetime64[ns]
datetime        48708 non-null datetime64[ns]
origins         48708 non-null object
destinations    48708 non-null object
travel_mode     48708 non-null object
duration        48534 non-null float64
distance        48534 non-null float64
fare            17128 non-null float64
congestion      19080 non-null object
dtypes: datetime64[ns](2), float64(4), object(4)
memory usage: 4.1+ MB

In [42]:
#can also use sql to look for null values: select * from gmaps_data where duration is NULL
combined_df = combined_df.ix[pd.notnull(combined_df['duration']),:].sort(columns='entry_id', ascending='True')

Note (from above): It appears that all data between April 22 and 25 was corrupted. Should delete or remove any references

In [51]:
print len(combined_df[pd.isnull(combined_df['duration'])])
print len(combined_df[pd.notnull(combined_df['duration'])])

0
48534

In [47]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48534 entries, 0 to 48707
Data columns (total 10 columns):
entry_id        48534 non-null float64
timestamp       48534 non-null datetime64[ns]
datetime        48534 non-null datetime64[ns]
origins         48534 non-null object
destinations    48534 non-null object
travel_mode     48534 non-null object
duration        48534 non-null float64
distance        48534 non-null float64
fare            17128 non-null float64
congestion      19080 non-null object
dtypes: datetime64[ns](2), float64(4), object(4)
memory usage: 4.1+ MB

In [63]:
combined_df.head()

,entry_id,timestamp,datetime,origins,destinations,travel_mode,duration,distance,fare,congestion
0,1,2015-04-20 01:14:42,2015-04-20 08:14:42,"Outer Sunset, San Francisco, CA, USA","Financial District, San Francisco, CA, USA",transit,2661,11969,2,NaN
1,1,2015-04-27 02:32:58,2015-04-27 09:32:56,"Oakland, CA","Pacific Heights, San Francisco, CA",driving,1750,23,NaN,None
2,2,2015-04-20 01:14:42,2015-04-20 08:14:42,"Outer Sunset, San Francisco, CA, USA","Oakland, CA, USA",transit,6056,30158,NaN,NaN
3,2,2015-04-27 02:32:58,2015-04-27 09:32:56,"Oakland, CA","Outer Richmond, San+Francisco, CA",driving,2089,27,NaN,None
4,3,2015-04-20 01:14:42,2015-04-20 08:14:42,"Noe Valley, San Francisco, CA, USA","Financial District, San Francisco, CA, USA",transit,3182,9355,2,NaN

In [71]:
combined_df[combined_df['origins']=='Oakland, CA']

,entry_id,timestamp,datetime,origins,destinations,travel_mode,duration,distance,fare,congestion
1,1,2015-04-27 02:32:58,2015-04-27 09:32:56,"Oakland, CA","Pacific Heights, San Francisco, CA",driving,1750,23,NaN,None
3,2,2015-04-27 02:32:58,2015-04-27 09:32:56,"Oakland, CA","Outer Richmond, San+Francisco, CA",driving,2089,27,NaN,None
5,3,2015-04-27 02:32:58,2015-04-27 09:32:56,"Oakland, CA","Outer Sunset, San Francisco, CA",driving,2097,36,NaN,None
7,4,2015-04-27 02:32:59,2015-04-27 09:32:56,"Oakland, CA","Mission District, San Francisco, CA",driving,1397,20,NaN,Mild
9,5,2015-04-27 02:32:59,2015-04-27 09:32:56,"Oakland, CA","Noe Valley, San+Francisco, CA",driving,1576,24,NaN,None
11,6,2015-04-27 02:32:59,2015-04-27 09:32:57,"Oakland, CA","Berkeley, CA",driving,856,12,NaN,None
71,36,2015-04-27 02:33:07,2015-04-27 09:33:07,"Oakland, CA","Financial District, San Francisco, CA",driving,1175,18,NaN,None
73,37,2015-04-27 02:33:07,2015-04-27 09:33:07,"Oakland, CA","Mountain View, CA",driving,2830,65,NaN,None
111,56,2015-04-27 02:59:05,2015-04-27 09:59:04,"Oakland, CA","Financial District, San Francisco, CA",driving,1178,18,NaN,None
113,57,2015-04-27 02:59:05,2015-04-27 09:59:04,"Oakland, CA","Mountain View, CA",driving,2813,65,NaN,None
151,76,2015-04-27 02:59:05,2015-04-27 09:59:05,"Oakland, CA","Financial District, San Francisco, CA",driving,1178,18,NaN,None
153,77,2015-04-27 02:59:05,2015-04-27 09:59:05,"Oakland, CA","Mountain View, CA",driving,2813,65,NaN,None
161,81,2015-04-27 03:05:04,2015-04-27 10:05:02,"Oakland, CA","Pacific Heights, San Francisco, CA",driving,1773,23,NaN,Mild
163,82,2015-04-27 03:05:04,2015-04-27 10:05:02,"Oakland, CA","Outer Richmond, San+Francisco, CA",driving,2113,27,NaN,None
165,83,2015-04-27 03:05:04,2015-04-27 10:05:02,"Oakland, CA","Outer Sunset, San Francisco, CA",driving,2114,36,NaN,None
167,84,2015-04-27 03:05:04,2015-04-27 10:05:02,"Oakland, CA","Mission District, San Francisco, CA",driving,1412,20,NaN,Mild
169,85,2015-04-27 03:05:04,2015-04-27 10:05:02,"Oakland, CA","Noe Valley, San+Francisco, CA",driving,1596,24,NaN,None
171,86,2015-04-27 03:05:04,2015-04-27 10:05:02,"Oakland, CA","Berkeley, CA",driving,867,12,NaN,None
243,122,2015-04-27 03:23:24,2015-04-27 10:23:24,"Oakland, CA","Financial District, San Francisco, CA",driving,1168,18,NaN,None
245,123,2015-04-27 03:23:25,2015-04-27 10:23:24,"Oakland, CA","Mountain View, CA",driving,2852,65,NaN,None
253,127,2015-04-27 03:24:21,2015-04-27 10:24:17,"Oakland, CA","Russian Hill, San Francisco, CA",driving,1657,20,NaN,Mild
255,128,2015-04-27 03:24:21,2015-04-27 10:24:17,"Oakland, CA","North Beach, San Francisco, CA",driving,1417,20,NaN,None
257,129,2015-04-27 03:24:21,2015-04-27 10:24:18,"Oakland, CA","Pacific Heights, San Francisco, CA",driving,1756,23,NaN,Mild
259,130,2015-04-27 03:24:21,2015-04-27 10:24:18,"Oakland, CA","Outer Richmond, San+Francisco, CA",driving,2093,27,NaN,None
261,131,2015-04-27 03:24:21,2015-04-27 10:24:18,"Oakland, CA","Outer Sunset, San Francisco, CA",driving,2067,36,NaN,None
263,132,2015-04-27 03:24:21,2015-04-27 10:24:18,"Oakland, CA","Mission District, San Francisco, CA",driving,1382,20,NaN,None
265,133,2015-04-27 03:24:21,2015-04-27 10:24:18,"Oakland, CA","Noe Valley, San+Francisco, CA",driving,1533,24,NaN,None
267,134,2015-04-27 03:24:21,2015-04-27 10:24:18,"Oakland, CA","Berkeley, CA",driving,842,12,NaN,None
347,174,2015-04-27 04:00:06,2015-04-27 11:00:05,"Oakland, CA","Financial District, San Francisco, CA",driving,1175,18,NaN,None
349,175,2015-04-27 04:00:06,2015-04-27 11:00:06,"Oakland, CA","Mountain View, CA",driving,2855,65,NaN,None
...,...,...,...,...,...,...,...,...,...,...
37423,18712,2015-05-09 07:30:05,2015-05-09 14:30:05,"Oakland, CA","Financial District, San Francisco, CA",driving,1297,18,NaN,Mild
37425,18713,2015-05-09 07:30:05,2015-05-09 14:30:05,"Oakland, CA","Mountain View, CA",driving,2926,65,NaN,None
37475,18738,2015-05-09 07:45:06,2015-05-09 14:45:06,"Oakland, CA","Financial District, San Francisco, CA",driving,1411,18,NaN,Medium
37477,18739,2015-05-09 07:45:06,2015-05-09 14:45:06,"Oakland, CA","Mountain View, CA",driving,2952,65,NaN,None
37527,18764,2015-05-09 08:00:06,2015-05-09 15:00:05,"Oakland, CA","Financial District, San Francisco, CA",driving,1702,18,NaN,Heavy
37529,18765,2015-05-09 08:00:06,2015-05-09 15:00:05,"Oakland, CA","Mountain View, CA",driving,2990,65,NaN,None
37579,18790,2015-05-09 08:15:06,2015-05-09 15:15:06,"Oakland, CA","Financial District, San Francisco, CA",driving,1713,18,NaN,Heavy
37581,18791,2015-05-09 08:15:06,2015-05-09 15:15:06,"Oakland, CA","Mountain View, CA",driving,2985,65,NaN,None
37631,18816,2015-05-09 08:30:07,2015-05-09 15:30:06,"Oakland, CA","Financial District, San Francisco, CA",driving,1727,18,NaN,Heavy
37633,18817,2015-05-09 08:30:07,2015-05-09 15:30:06,"Oakland, CA","Mountain View, CA",driving,2931,65,NaN,None
37683,18842,2015-05-09 08:45:06,2015-05-09 15:45:05,"Oakland, CA","Financial District, San Francisco, CA",driving,1341,18,NaN,Mild
37685,18843,2015-05-09 08:45:06,2015-05-09 15:45:05,"Oakland, CA","Mountain View, CA",driving,2934,65,NaN,None
37735,18868,2015-05-09 09:00:06,2015-05-09 16:00:05,"Oakland, CA","Financial District, San Francisco, CA",driving,1345,18,NaN,Mild
37737,18869,2015-05-09 09:00:06,2015-05-09 16:00:05,"Oakland, CA","Mountain View, CA",driving,2931,65,NaN,None
37787,18894,2015-05-09 09:15:06,2015-05-09 16:15:05,"Oakland, CA","Financial District, San Francisco, CA",driving,1330,18,NaN,Mild
37789,18895,2015-05-09 09:15:06,2015-05-09 16:15:05,"Oakland, CA","Mountain View, CA",driving,2906,65,NaN,None
37839,18920,2015-05-09 09:30:06,2015-05-09 16:30:05,"Oakland, CA","Financial District, San Francisco, CA",driving,1377,18,NaN,Medium
37841,18921,2015-05-09 09:30:06,2015-05-09 16:30:05,"Oakland, CA","Mountain View, CA",driving,2918,65,NaN,None
37891,18946,2015-05-09 09:45:05,2015-05-09 16:45:05,"Oakland, CA","Financial District, San Francisco, CA",driving,1447,18,NaN,Medium
37893,18947,2015-05-09 09:45:05,2015-05-09 16:45:05,"Oakland, CA","Mountain View, CA",driving,2977,65,NaN,None
37943,18972,2015-05-09 10:00:06,2015-05-09 17:00:05,"Oakland, CA","Financial District, San Francisco, CA",driving,1554,18,NaN,Medium
37945,18973,2015-05-09 10:00:06,2015-05-09 17:00:05,"Oakland, CA","Mountain View, CA",driving,3098,65,NaN,Mild
37995,18998,2015-05-09 10:15:05,2015-05-09 17:15:05,"Oakland, CA","Financial District, San Francisco, CA",driving,1686,18,NaN,Heavy
37997,18999,2015-05-09 10:15:05,2015-05-09 17:15:05,"Oakland, CA","Mountain View, CA",driving,3133,65,NaN,Mild
38047,19024,2015-05-09 10:30:06,2015-05-09 17:30:06,"Oakland, CA","Financial District, San Francisco, CA",driving,1881,18,NaN,Heavy
38049,19025,2015-05-09 10:30:06,2015-05-09 17:30:06,"Oakland, CA","Mountain View, CA",driving,3091,65,NaN,Mild
38099,19050,2015-05-09 10:45:06,2015-05-09 17:45:06,"Oakland, CA","Financial District, San Francisco, CA",driving,1847,18,NaN,Heavy
38101,19051,2015-05-09 10:45:06,2015-05-09 17:45:06,"Oakland, CA","Mountain View, CA",driving,3118,65,NaN,Mild
38151,19076,2015-05-09 11:00:07,2015-05-09 18:00:07,"Oakland, CA","Financial District, San Francisco, CA",driving,1843,18,NaN,Heavy
38153,19077,2015-05-09 11:00:07,2015-05-09 18:00:07,"Oakland, CA","Mountain View, CA",driving,3255,65,NaN,Mild